Itération 3: Doc Panda --> Découverte

read_csv()--> Ok,
.info() --> Ok, 
.head()--> Ok, 
.tail() --> Ok,
.value_counts()--> Ok, 
.loc --> Ok, 
.query() --> Ok, 
.drop()--> Ok, 
.to_csv('NewFichier.csv', index=False) --> Ok,  
.sort_values(),
df.describe(),
df.isna().sum()

In [27]:
import pandas as pd
data_pandas = pd.read_csv('data/trees.csv', sep=';')
print(data_pandas[:])
data_pandas.head()

       elem_point_id      code      nom genre  genre_desc  ...   portarbre  \
0            27452.0  ESP29627  AR29627   VEG  VEGETATION  ...       Libre
1            27458.0  ESP29628  AR29628   VEG  VEGETATION  ...       Libre
2            27461.0  ESP29629  AR29629   VEG  VEGETATION  ...       Libre
3            27467.0  ESP29630  AR29630   VEG  VEGETATION  ...       Libre
4            27470.0  ESP29631  AR29631   VEG  VEGETATION  ...       Libre
...              ...       ...      ...   ...         ...  ...         ...
31821        27517.0  ESP27738  AR27738   VEG  VEGETATION  ...       Libre
31822        27519.0  ESP27739  AR27739   VEG  VEGETATION  ...       Libre
31823        27521.0  ESP27740  AR27740   VEG  VEGETATION  ...       Libre
31824        27523.0  ESP27741  AR27741   VEG  VEGETATION  ...  Semi-libre
31825        27525.0  ESP27742  AR27742   VEG  VEGETATION  ...         NaN

                   structure forme  typenature  \
0          Ville de Grenoble  Tige       Libre
1          Ville de Grenoble   NaN       Libre
2          Ville de Grenoble   NaN       Libre
3          Ville de Grenoble   NaN       Libre
4          Ville de Grenoble  Tige       Libre
...                      ...   ...         ...
31821      Ville de Grenoble   NaN       Libre
31822      Ville de Grenoble   NaN       Libre
31823      Ville de Grenoble   NaN       Libre
31824  Métropole de Grenoble  Tige  Semi-libre
31825      Ville de Grenoble   NaN         NaN

                                geo_point_2d
0        45.18599541005583,5.736390702744254
1        45.18535720117796,5.737112737684537
2      45.185699673347614,5.7377442387742645
3      45.184868969286526,5.7364435192678584
4        45.18493170028907,5.734850190386917
...                                      ...
31821   45.183034220591935,5.735577673559971
31822    45.18351698514722,5.735315763957461
31823    45.18437975945701,5.735769288203197
31824   45.167433401965766,5.741630980486011
31825   45.170609213598304,5.741097829901726

[31826 rows x 38 columns]

/tmp/ipykernel_21280/2702008764.py:2: DtypeWarning: Columns (22,23,26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  data_pandas = pd.read_csv('data/trees.csv', sep=';')

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"

In [ ]:
#Affiche le nom des colonnes de data_pandas
test=data_pandas.columns.to_list()
print("ou ici")
print(test)
print("==================================")


print("ici")
test2=data_pandas.value_counts()
print(test2)
print("==================================")
print("la")

#Tri
x=data_pandas.sort_values(by = test,ascending=True)
print(x)
print("==================================")
print("peut-être la")
data_pandas[:]

In [2]:
data_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31826 entries, 0 to 31825
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   elem_point_id          31817 non-null  float64
 1   code                   31826 non-null  object
 2   nom                    31826 non-null  object
 3   genre                  31826 non-null  object
 4   genre_desc             31826 non-null  object
 5   categorie              31817 non-null  object
 6   categorie_desc         31817 non-null  object
 7   sous_categorie         31817 non-null  object
 8   sous_categorie_desc    31817 non-null  object
 9   code_parent            31817 non-null  object
 10  code_parent_desc       31817 non-null  object
 11  adr_secteur            31808 non-null  float64
 12  bien_reference         31808 non-null  object
 13  genre_bota             31001 non-null  object
 14  espece                 29338 non-null  object
 15  variete                4641 non-null   object
 16  stadededeveloppement   27953 non-null  object
 17  equipe                 0 non-null      float64
 18  remarques              5306 non-null   object
 19  anneedeplantation      29828 non-null  float64
 20  raisondeplantation     3310 non-null   object
 21  traitementchenilles    2096 non-null   object
 22  courrier               9 non-null      object
 23  identifiantplu         603 non-null    object
 24  typeimplantationplu    5038 non-null   object
 25  intituleprotectionplu  594 non-null    object
 26  anneeabattage          9 non-null      object
 27  essouchement           9 non-null      float64
 28  diametrearbre          9 non-null      object
 29  causeabattage          0 non-null      float64
 30  collectivite           31095 non-null  object
 31  stationmetro           1896 non-null   object
 32  hauteurarbre           20285 non-null  object
 33  portarbre              13980 non-null  object
 34  structure              30986 non-null  object
 35  forme                  8602 non-null   object
 36  typenature             13980 non-null  object
 37  geo_point_2d           31808 non-null  object
dtypes: float64(6), object(32)
memory usage: 9.2+ MB

In [3]:
#afficher max 10 colonnes
pd.set_option('display.max_columns',10)

df=data_pandas

data_pandas[:1000]

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"
...,...,...,...,...,...,...,...,...,...,...,...
995,36235.0,ESP36941,AR36941,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19050724502243,5.740322575434865"
996,36236.0,ESP36942,AR36942,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.189693094756024,5.741033497350958"
997,36237.0,ESP36943,AR36943,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.1897345098012,5.7410095872684215"
998,36239.0,ESP36945,AR36945,VEG,VEGETATION,...,NaN,Métropole de Grenoble,NaN,NaN,"45.187871219333424,5.744274339341144"
999,36240.0,ESP36946,AR36946,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.18837649608018,5.741641676574251"

In [28]:
#Affiche les 10 premières lignes (5 par défaut)
df.head(10)

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"
5,27479.0,ESP29633,AR29633,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18545084457957,5.735155155309501"
6,27488.0,ESP29635,AR29635,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.1858818781823,5.734877548469389"
7,27500.0,ESP29638,AR29638,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.183616690020415,5.733779291407957"
8,27509.0,ESP29640,AR29640,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.18408795005514,5.734130510606768"
9,27514.0,ESP29641,AR29641,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.183511361167845,5.7340613788404085"

In [5]:
#Affiche les 10 dernières lignes (5 par défaut)
df.tail(10)

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
31816,27494.0,ESP27733,AR27733,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18555907861775,5.733810152971074"
31817,27499.0,ESP27734,AR27734,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.18362233670956,5.733717781223571"
31818,27503.0,ESP27735,AR27735,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.18415318943025,5.733945569683785"
31819,27508.0,ESP27736,AR27736,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.18388291826313,5.733893498404047"
31820,27513.0,ESP27737,AR27737,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18305703380721,5.735065813246526"
31821,27517.0,ESP27738,AR27738,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.183034220591935,5.735577673559971"
31822,27519.0,ESP27739,AR27739,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18351698514722,5.735315763957461"
31823,27521.0,ESP27740,AR27740,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18437975945701,5.735769288203197"
31824,27523.0,ESP27741,AR27741,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,Tige,Semi-libre,"45.167433401965766,5.741630980486011"
31825,27525.0,ESP27742,AR27742,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.170609213598304,5.741097829901726"

In [6]:
df.sample(n=3)

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
23818,46140.0,ESP41626,AR41626,VEG,VEGETATION,...,NaN,NaN,NaN,NaN,"45.1715286465967,5.7416396370055605"
23184,25985.0,ESP22481,AR22481,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.173797322659745,5.742553343395587"
492,47487.0,ESP42990,AR42990,VEG,VEGETATION,...,NaN,Métropole de Grenoble,NaN,NaN,"45.16405017798928,5.731976337216879"

In [7]:
#Affiche le nom des colonnes de data_pandas
colonnes=data_pandas.columns.to_list()
print(colonnes)

['elem_point_id', 'code', 'nom', 'genre', 'genre_desc', 'categorie', 'categorie_desc', 'sous_categorie', 'sous_categorie_desc', 'code_parent', 'code_parent_desc', 'adr_secteur', 'bien_reference', 'genre_bota', 'espece', 'variete', 'stadededeveloppement', 'equipe', 'remarques', 'anneedeplantation', 'raisondeplantation', 'traitementchenilles', 'courrier', 'identifiantplu', 'typeimplantationplu', 'intituleprotectionplu', 'anneeabattage', 'essouchement', 'diametrearbre', 'causeabattage', 'collectivite', 'stationmetro', 'hauteurarbre', 'portarbre', 'structure', 'forme', 'typenature', 'geo_point_2d']

In [8]:
col = colonnes
print(df[col].head())
df['code'].head

   elem_point_id      code      nom genre  genre_desc  ... portarbre  \
0        27452.0  ESP29627  AR29627   VEG  VEGETATION  ...     Libre
1        27458.0  ESP29628  AR29628   VEG  VEGETATION  ...     Libre
2        27461.0  ESP29629  AR29629   VEG  VEGETATION  ...     Libre
3        27467.0  ESP29630  AR29630   VEG  VEGETATION  ...     Libre
4        27470.0  ESP29631  AR29631   VEG  VEGETATION  ...     Libre

           structure forme typenature                           geo_point_2d
0  Ville de Grenoble  Tige      Libre    45.18599541005583,5.736390702744254
1  Ville de Grenoble   NaN      Libre    45.18535720117796,5.737112737684537
2  Ville de Grenoble   NaN      Libre  45.185699673347614,5.7377442387742645
3  Ville de Grenoble   NaN      Libre  45.184868969286526,5.7364435192678584
4  Ville de Grenoble  Tige      Libre    45.18493170028907,5.734850190386917

[5 rows x 38 columns]

<bound method NDFrame.head of 0        ESP29627
1        ESP29628
2        ESP29629
3        ESP29630
4        ESP29631
           ...
31821    ESP27738
31822    ESP27739
31823    ESP27740
31824    ESP27741
31825    ESP27742
Name: code, Length: 31826, dtype: object>

In [9]:
# value at index label 8
df.loc[1:3,['code','nom']]

       code      nom
1  ESP29628  AR29628
2  ESP29629  AR29629
3  ESP29630  AR29630

In [10]:
# value at index location 29635, afficher les colonnes 2 et 3
df.iloc[1:150,1:3]

df.iloc[:1000,[0,1,2,13]]

     elem_point_id      code      nom  genre_bota
0          27452.0  ESP29627  AR29627      Ginkgo
1          27458.0  ESP29628  AR29628    Platanus
2          27461.0  ESP29629  AR29629       Morus
3          27467.0  ESP29630  AR29630       Taxus
4          27470.0  ESP29631  AR29631        Acer
..             ...       ...      ...         ...
995        36235.0  ESP36941  AR36941    Fraxinus
996        36236.0  ESP36942  AR36942    Fraxinus
997        36237.0  ESP36943  AR36943    Fraxinus
998        36239.0  ESP36945  AR36945        Acer
999        36240.0  ESP36946  AR36946  Pterocarya

[1000 rows x 4 columns]

In [11]:
df['code'].value_counts()

code
1           9
ESP29627    1
ESP30464    1
ESP30482    1
ESP30480    1
           ..
ESP13408    1
ESP13407    1
ESP13406    1
ESP13404    1
ESP27742    1
Name: count, Length: 31818, dtype: int64

In [12]:
len(df)

31826

In [13]:
#Affiche la 19ème colonne
df.columns[35]

'forme'

Rename Colonne/ index

In [14]:
new_df = df.rename(columns={'code':'codes'})

df.rename(index={0: "x"})
new_df[:1000]

,elem_point_id,codes,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"
...,...,...,...,...,...,...,...,...,...,...,...
995,36235.0,ESP36941,AR36941,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19050724502243,5.740322575434865"
996,36236.0,ESP36942,AR36942,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.189693094756024,5.741033497350958"
997,36237.0,ESP36943,AR36943,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.1897345098012,5.7410095872684215"
998,36239.0,ESP36945,AR36945,VEG,VEGETATION,...,NaN,Métropole de Grenoble,NaN,NaN,"45.187871219333424,5.744274339341144"
999,36240.0,ESP36946,AR36946,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.18837649608018,5.741641676574251"

Loc --> Label-location based indexer for selection by label

In [15]:
print(df.loc)

#Afficher certaines colonnes (code, nom) pour certaines lignes (2 et 1000) du fichier 
df.loc[[2,1000],['code','nom']]

<pandas.core.indexing._LocIndexer object at 0x7162e0096940>

          code      nom
2     ESP29629  AR29629
1000  ESP25898  AR25898

Supprimer colonne --> Ne fonctionne pas
Change le type de la colonne df[nom_colonne].astype(int)

In [16]:

#list_of_cols_to_drop={'forme'}
#df.drop(columns = list_of_cols_to_drop)
#df.drop('forme',axis=1, inplace=True)

#df.set_index('forme')
#Ne modifie pas le fichier
df

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"
...,...,...,...,...,...,...,...,...,...,...,...
31821,27517.0,ESP27738,AR27738,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.183034220591935,5.735577673559971"
31822,27519.0,ESP27739,AR27739,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18351698514722,5.735315763957461"
31823,27521.0,ESP27740,AR27740,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18437975945701,5.735769288203197"
31824,27523.0,ESP27741,AR27741,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,Tige,Semi-libre,"45.167433401965766,5.741630980486011"
31825,27525.0,ESP27742,AR27742,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.170609213598304,5.741097829901726"

In [17]:
df.columns

Index(['elem_point_id', 'code', 'nom', 'genre', 'genre_desc', 'categorie',
       'categorie_desc', 'sous_categorie', 'sous_categorie_desc',
       'code_parent', 'code_parent_desc', 'adr_secteur', 'bien_reference',
       'genre_bota', 'espece', 'variete', 'stadededeveloppement', 'equipe',
       'remarques', 'anneedeplantation', 'raisondeplantation',
       'traitementchenilles', 'courrier', 'identifiantplu',
       'typeimplantationplu', 'intituleprotectionplu', 'anneeabattage',
       'essouchement', 'diametrearbre', 'causeabattage', 'collectivite',
       'stationmetro', 'hauteurarbre', 'portarbre', 'structure', 'forme',
       'typenature', 'geo_point_2d'],
      dtype='object')

In [18]:
df.query('code < nom')

#Différent
df[df.code < df.nom]

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
1406,NaN,1,AR42084,Quercus,imbricaria,...,NaN,NaN,NaN,NaN,NaN
1408,NaN,1,AR42085,Alnus,spaethii,...,NaN,NaN,NaN,NaN,NaN
1410,NaN,1,AR42086,Alnus,spaethii,...,NaN,NaN,NaN,NaN,NaN
1412,NaN,1,AR42087,Alnus,cordata,...,NaN,NaN,NaN,NaN,NaN
1414,NaN,1,AR42088,Alnus,spaethii,...,NaN,NaN,NaN,NaN,NaN
1416,NaN,1,AR42089,Alnus,cordata,...,NaN,NaN,NaN,NaN,NaN
1815,NaN,1,AR42081,Quercus,cerris,...,NaN,NaN,NaN,NaN,NaN
1817,NaN,1,AR42082,Quercus,imbricaria,...,NaN,NaN,NaN,NaN,NaN
1819,NaN,1,AR42083,Quercus,cerris,...,NaN,NaN,NaN,NaN,NaN

In [19]:
import pandas as pd1

df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})

df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})


result = df1.merge(df2, how='outer', on='a')
#result = dft.query('`code` > `nom`')
print(result)
#dft[dft.code > dft.nom]

     a    b    c
0  bar  2.0  NaN
1  baz  NaN  4.0
2  foo  1.0  3.0

In [20]:
#exporter dans un fichier csv la DataFrame
#df.to_csv('test.csv',index=False)
df

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"
...,...,...,...,...,...,...,...,...,...,...,...
31821,27517.0,ESP27738,AR27738,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.183034220591935,5.735577673559971"
31822,27519.0,ESP27739,AR27739,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18351698514722,5.735315763957461"
31823,27521.0,ESP27740,AR27740,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18437975945701,5.735769288203197"
31824,27523.0,ESP27741,AR27741,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,Tige,Semi-libre,"45.167433401965766,5.741630980486011"
31825,27525.0,ESP27742,AR27742,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.170609213598304,5.741097829901726"

Trier des DataFrames

In [21]:
data_sorted = df.sort_values(['code','nom'], ascending=True)
print(data_sorted[['code','nom']].head(10))

data_sorted2 = df.sort_values(['code','nom'], ascending=False)
data_sorted2[['code','nom']].head(10)

          code      nom
1815         1  AR42081
1817         1  AR42082
1819         1  AR42083
1406         1  AR42084
1408         1  AR42085
1410         1  AR42086
1412         1  AR42087
1414         1  AR42088
1416         1  AR42089
9597  ESP10001  AR10001

         code     nom
9596  ESP9999  AR9999
9595  ESP9998  AR9998
9594  ESP9997  AR9997
9593  ESP9996  AR9996
9592  ESP9995  AR9995
9591  ESP9994  AR9994
9516  ESP9993  AR9993
9515  ESP9992  AR9992
9514  ESP9991  AR9991
9513  ESP9990  AR9990

Group By --> Grouper par 'colonne'
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [22]:
df.describe()

,elem_point_id,adr_secteur,equipe,anneedeplantation,essouchement,causeabattage
count,31817.000000,31808.000000,0.0,29828.000000,9.000000,0.0
mean,20790.957884,492.367046,NaN,1990.105136,45.196310,NaN
std,13078.555801,4296.699452,NaN,17.982968,0.000163,NaN
min,1.000000,1.000000,NaN,1900.000000,45.196078,NaN
25%,9805.000000,2.000000,NaN,1975.000000,45.196181,NaN
50%,19716.000000,4.000000,NaN,1987.000000,45.196331,NaN
75%,29703.000000,5.000000,NaN,2006.000000,45.196434,NaN
max,47913.000000,38421.000000,NaN,2022.000000,45.196540,NaN

In [23]:
df.isna().sum()

elem_point_id                9
code                         0
nom                          0
genre                        0
genre_desc                   0
categorie                    9
categorie_desc               9
sous_categorie               9
sous_categorie_desc          9
code_parent                  9
code_parent_desc             9
adr_secteur                 18
bien_reference              18
genre_bota                 825
espece                    2488
variete                  27185
stadededeveloppement      3873
equipe                   31826
remarques                26520
anneedeplantation         1998
raisondeplantation       28516
traitementchenilles      29730
courrier                 31817
identifiantplu           31223
typeimplantationplu      26788
intituleprotectionplu    31232
anneeabattage            31817
essouchement             31817
diametrearbre            31817
causeabattage            31826
collectivite               731
stationmetro             29930
hauteurarbre             11541
portarbre                17846
structure                  840
forme                    23224
typenature               17846
geo_point_2d                18
dtype: int64

In [24]:
list_of_cols=['nom','code']
df.sort_values(by=list_of_cols,ascending=True)

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
9597,309.0,ESP10001,AR10001,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,Tige,Semi-libre,"45.189113464884954,5.72171832895555"
9598,311.0,ESP10002,AR10002,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19359695849367,5.744678097904983"
9599,313.0,ESP10003,AR10003,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.193616441187764,5.744586465225523"
9600,315.0,ESP10004,AR10004,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.19438159662681,5.745857713803979"
9601,317.0,ESP10005,AR10005,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19479386618815,5.744712928508769"
...,...,...,...,...,...,...,...,...,...,...,...
9592,298.0,ESP9995,AR9995,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19620576322244,5.737085753719543"
9593,300.0,ESP9996,AR9996,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19584830408982,5.740923450789058"
9594,302.0,ESP9997,AR9997,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19564270972211,5.740774719460568"
9595,304.0,ESP9998,AR9998,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19440308201591,5.739094132223294"
9596,306.0,ESP9999,AR9999,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.19471452559828,5.738334866181418"

In [25]:
df.sort_values( by="anneedeplantation")

df[df.anneedeplantation < 1955]
#df[df.ANNEEDEPLANTATION.isin([1960, 1970])]
#df[(df.ANNEEDEPLANTATION == 1960) | (df.ANNEEDEPLANTATION == 1970) ]

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
835,40008.0,ESP38795,AR38795,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.15513461132166,5.762473389468379"
841,11908.0,ESP25672,AR25672,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.19708853913642,5.716100222237475"
1050,1248.0,ESP30114,AR30114,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.18335156337988,5.733058203913474"
1074,468.0,ESP30146,AR30146,VEG,VEGETATION,...,Architecturé,Métropole de Grenoble,NaN,Architecturé,"45.19447267278037,5.717559543525815"
1078,490.0,ESP30151,AR30151,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.196371005685066,5.717401871422763"
...,...,...,...,...,...,...,...,...,...,...,...
31566,8067.0,ESP28332,AR28332,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.19767495166632,5.717317712353464"
31584,23194.0,ESP28660,AR28660,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.19607435852085,5.736932695515346"
31614,15569.0,ESP27664,AR27664,VEG,VEGETATION,...,Architecturé,Ville de Grenoble,NaN,Architecturé,"45.196595914450114,5.716078667389475"
31618,15587.0,ESP27668,AR27668,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.18418646890751,5.732161946893412"
31816,27494.0,ESP27733,AR27733,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18555907861775,5.733810152971074"

In [26]:
resultat=df.groupby(by=['code']).sum()
print(resultat)
df

          elem_point_id                                                nom  \
code
1                   0.0  AR42084AR42085AR42086AR42087AR42088AR42089AR42...
ESP10001          309.0                                            AR10001
ESP10002          311.0                                            AR10002
ESP10003          313.0                                            AR10003
ESP10004          315.0                                            AR10004
...                 ...                                                ...
ESP9995           298.0                                             AR9995
ESP9996           300.0                                             AR9996
ESP9997           302.0                                             AR9997
ESP9998           304.0                                             AR9998
ESP9999           306.0                                             AR9999

                                                      genre  \
code
1         QuercusAlnusAlnusAlnusAlnusAlnusQuercusQuercus...
ESP10001                                                VEG
ESP10002                                                VEG
ESP10003                                                VEG
ESP10004                                                VEG
...                                                     ...
ESP9995                                                 VEG
ESP9996                                                 VEG
ESP9997                                                 VEG
ESP9998                                                 VEG
ESP9999                                                 VEG

                                                 genre_desc categorie  ...  \
code                                                                   ...
1         imbricariaspaethiispaethiicordataspaethiicorda...         0  ...
ESP10001                                         VEGETATION     ESP01  ...
ESP10002                                         VEGETATION     ESP01  ...
ESP10003                                         VEGETATION     ESP01  ...
ESP10004                                         VEGETATION     ESP01  ...
...                                                     ...       ...  ...
ESP9995                                          VEGETATION     ESP01  ...
ESP9996                                          VEGETATION     ESP01  ...
ESP9997                                          VEGETATION     ESP01  ...
ESP9998                                          VEGETATION     ESP01  ...
ESP9999                                          VEGETATION     ESP01  ...

           portarbre              structure forme  typenature  \
code
1                  0                      0     0           0
ESP10001  Semi-libre  Métropole de Grenoble  Tige  Semi-libre
ESP10002           0      Ville de Grenoble     0           0
ESP10003           0      Ville de Grenoble     0           0
ESP10004       Libre      Ville de Grenoble     0       Libre
...              ...                    ...   ...         ...
ESP9995            0      Ville de Grenoble     0           0
ESP9996            0      Ville de Grenoble     0           0
ESP9997            0      Ville de Grenoble     0           0
ESP9998            0      Ville de Grenoble     0           0
ESP9999            0      Ville de Grenoble     0           0

                                  geo_point_2d
code
1                                            0
ESP10001   45.189113464884954,5.72171832895555
ESP10002   45.19359695849367,5.744678097904983
ESP10003  45.193616441187764,5.744586465225523
ESP10004   45.19438159662681,5.745857713803979
...                                        ...
ESP9995    45.19620576322244,5.737085753719543
ESP9996    45.19584830408982,5.740923450789058
ESP9997    45.19564270972211,5.740774719460568
ESP9998    45.19440308201591,5.739094132223294
ESP9999    45.19471452559828,5.738334866181418

[31818 rows x 37 columns]

,elem_point_id,code,nom,genre,genre_desc,...,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,...,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"
...,...,...,...,...,...,...,...,...,...,...,...
31821,27517.0,ESP27738,AR27738,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.183034220591935,5.735577673559971"
31822,27519.0,ESP27739,AR27739,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18351698514722,5.735315763957461"
31823,27521.0,ESP27740,AR27740,VEG,VEGETATION,...,Libre,Ville de Grenoble,NaN,Libre,"45.18437975945701,5.735769288203197"
31824,27523.0,ESP27741,AR27741,VEG,VEGETATION,...,Semi-libre,Métropole de Grenoble,Tige,Semi-libre,"45.167433401965766,5.741630980486011"
31825,27525.0,ESP27742,AR27742,VEG,VEGETATION,...,NaN,Ville de Grenoble,NaN,NaN,"45.170609213598304,5.741097829901726"